th,
td {
  text-align: center;
}

.fecha {
  background-color: grey;
}

.prog {
  background-color: lightblue;
}

.dcli {
  background-color: red;
}

.bdat {
  background-color: green;
}

.lima {
  background-color: orange;
}

.code {
  background-color: cyan;
}

.recreo {
  background-color: pink;
}